
/* From Uiverse.io by andrew-demchenk0 - Tags: animation, purple, button, opacity, key , small */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 32px;
  width: 82px;
  border: none;
  background: #a549dacb;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.svg-icon {
  width: 20px;
  height: 20px;
}

.button:hover {
  background: #A649DA;
}

.button:hover .svg-icon {
  animation: rot 0.5s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
