
/* From Uiverse.io by chethan025 - Tags: button, scroll snap */
.button {
  width: 38px;
  height: 82px;
  padding: 2px;
  border: 1px solid #474747;
  border-radius: 50px;
  background: rgba(141, 141, 141, 0.18);
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}

.svg {
  width: 22px;
  height: 62px;
  transform: rotate(180deg);
}

.button:hover {
  transform: scale(-1.2);
}

.button:focus {
  height: 0px;
  width: 0px;
  padding: 0px;
  border: 0px;
}

.button:focus > .svg {
  display: none;
  height: 0px;
}
  
  
  
  
