
/* From Uiverse.io by tofe812 - Tags: card */
.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid a2a2a2;
  color: black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75),
              0px 0px 10px 0px rgba(255, 255, 255, 0.75),
              0px 0px 20px 0px rgba(156, 156, 156, 0.75);
  transform: rotateX(-25deg) rotateY(45deg) rotateZ(0deg) translateX(-40px) translateY(-40px);
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
 /* Safari */
  user-select: none;
 /* Standard syntax */
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75),
              0px 0px 20px 0px rgba(255, 255, 255, 0.75),
              0px 0px 50px 0px rgba(156, 156, 156, 0.75);
  transform: scale(1.1);
}

.heading {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.heading span {
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12, #2ecc71, #3498db);
  background-clip: text;
  animation: spanAnimate 5s linear infinite;
  background-size: 500%;
}

.heading span::before {
  content: "\a";
  white-space: pre;
}

.item {
  display: flex;
  padding-block: 5px;
  padding-left: 10px;
}

.item--create {
  color: rgb(255, 165, 0);
  filter: drop-shadow(0 0 5px rgb(255 165 0 / 0.6));
}

.item--post {
  color: rgb(220, 20, 60);
  filter: drop-shadow(0 0 5px rgb(220 20 60 / 0.6));
}

.item--inspire {
  color: rgb(20, 213, 220);
  filter: drop-shadow(0 0 5px rgb(20 213 220 / 0.6));
}

.item svg {
  margin: 5px;
}

.item span {
  align-self: center;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: rgb(100, 149, 237);
  /* color: white; */
  border: 1px solid cornflowerblue;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(100, 149, 237, 0.75);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 5px 0px rgba(100, 149, 237, 0.75),
              0px 0px 20px 0px rgba(100, 149, 237, 0.75),
              0px 0px 50px 0px rgba(100, 149, 237, 0.75);
  transform: scale(1.1);
}

@keyframes spanAnimate {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 100% 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: white;
  }

  button {
    color: white;
  }
}
