
/* From Uiverse.io by Cybercom682  - Tags: button, send, mastery, replica */
.button {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 0.8em 0.7em 0.8em 0.7em;
  border-color: rgba(0, 0, 0, 0.336);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.158);
  border-radius: 6px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
}

