
/* From Uiverse.io by Uzmakh  - Website: https://uiverse.io/ - Name: Shubhajit - Tags: simple, button, click, light&dark */
.button {
  padding: 8px;
  border-radius: 17px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.wrapper {
  padding: 0 15px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: inset 5px 5px 15px #bababa, inset -5px -5px 15px #ffffff;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 20px;
}

