
/* From Uiverse.io by reyvaxreecded  - Tags: animation, button, space */
button {
  all: unset;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: visible;
}

button>span>svg {
  width: 8.5em;
  height: 8.5em;
}

button>span {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(circle, rgba(255,255,255,0.52) 0%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

button>span {
  overflow: hidden;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

button > span:after {
  content: '';
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 94.5%;
  height: 94.5%;
  position: absolute;
  top: 0.27em;
  z-index: 2;
  background-color: #00000000;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(254,123,0,0.52) 0%, rgba(191,0,0,0.9612219887955182) 100%);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-clip: content-box;
  opacity: 0;
}

button > span:before {
  content: '';
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 94.5%;
  height: 94.5%;
  position: absolute;
  top: 0.27em;
  z-index: 2;
  background-color: #00000000;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,222,0,1) 50%, rgba(255,0,0,0.9612219887955182) 100%);
  background-clip: content-box;
  opacity: 0;
}

button:hover >span:after {
  opacity: 0.65;
}

button:active > span > svg {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

button:active > span:before {
  -webkit-animation: implose 0.33s ease-in-out;
  animation: implose 0.33s ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

button:active > span:after {
  display: none;
}

button:active:before {
  display: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@-webkit-keyframes implose {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
}

@keyframes implose {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
}
