
/* From Uiverse.io by csozidev - Tags: simple, card, hover, uiverse */
/* UIverse rank card made by: csozi | Website: www.csozi.hu*/

.card {
  position: relative;
  width: 280px;
  height: 130px;
  background: rgb(23,23,23);
  border-radius: 20px;
  padding: 20px;
  padding-left: 130px;
  transition: 0.3s;
}

.card:hover {
  filter: drop-shadow(5px 5px 0px rgb(185,100,255))
  drop-shadow(5px 5px 0px rgb(103,74,255))
  drop-shadow(5px 5px 0px rgb(12,204,238));
  scale: 1.05;
}

.svg {
  position: absolute;
  top: 18px;
  left: 18px;
}

.title1 {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  line-height: 40px;
}

.title2 {
  color: white;
  font-weight: bolder;
  font-size: 24px;
  line-height: 22px;
}
