
/* From Uiverse.io by Sameer2244 - Tags: button, mario, game */
.button {
  width: 6rem;
  height: 6rem;
  background-color: #da6b34;
  border-radius: 0;
  box-shadow: 5px 5px 0px black;
  transform: translate(0,0);
  z-index: 1;
  padding: 0;
  position: relative;
}

.coin {
  position: absolute;
  z-index: -2;
  top: 50%;
  transform: translate(0,-20px);
  right: 45%;
}

.mario {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(15px,200px);
  right: 45%;
}

.button:active ~ .mario {
  animation: jump2 0.6s ease-in-out;
}

.button:active {
  transform: translate(0,-15px);
}

.button:active ~ .coin {
  animation: jump 1s;
}

.button:hover {
  animation: animate 1s infinite;
}

.button-icon {
  position: relative;
  top: 25%;
  left: 63%;
  z-index: 1;
  transform: scale(1.5);
}

.overlay {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: #FFC07B;
}

.one {
  position: absolute;
  background-color: #DE5917;
  box-shadow: 2px 2px 0px black;
  width: 1rem;
  height: 0.35rem;
  z-index: 10;
}

.one:after {
  content: "";
  position: absolute;
  background-color: #DE5917;
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(5px,15px);
  z-index: 10;
}

.one:before {
  content: "";
  position: absolute;
  background-color: #DE5917;
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(5px,25px);
  z-index: 10;
}

.two {
  position: absolute;
  background-color: #DE5917;
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%,50%);
  z-index: 10;
}

.two::after {
  content: "";
  position: absolute;
  background-color: #DE5917;
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.8rem;
  transform: translate(190%,-5%);
  z-index: 10;
}

.two::before {
  content: "";
  position: absolute;
  background-color: #DE5917;
  width: 0.7rem;
  height: 0.3rem;
  transform: translate(12px,8px);
  z-index: 10;
}

.dots {
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(-20px,-12px);
  background-color: #000;
}

.dots::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(50px,0px);
  background-color: #000;
}

.dots2 {
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(-20px,40px);
  background-color: #000;
}

.dots2::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(50px,0px);
  background-color: #000;
}

@keyframes animate {
  0% {
    background-color: #FFC07B;
  }

  75% {
    background-color: #DE5917;
  }

  100% {
    background-color: #da6b34;
  }
}

@keyframes jump {
  0% {
    transform: translate(0,-15px) rotateY(0deg);
  }

  50% {
    transform: translate(0,-200px) rotateY(180deg);
  }

  75% {
    transform: translate(0,-15px) rotateY(270deg);
  }

  100% {
    transform: translate(0,-15px) rotateY(360deg);
  }
}

.button-container p {
  color: black;
  text-align: center;
  transform: translate(0,1rem);
  font-weight: bold;
  z-index: -2;
}

@keyframes jump2 {
  0% {
    transform: translate(20px,200px);
  }

  50% {
    transform: translate(20px,25px);
  }

  100% {
    transform: translate(20px,200px);
  }
}
