
/* From Uiverse.io by Javierrocadev - Tags: card, star, moon, rotate, keyframes, rocket */
.card {
  width: 290px;
  height: 350px;
  background: linear-gradient(135deg, rgba(48,48,48,1) 48%, rgba(0,0,0,1) 100%);
  background-size: 300%,300%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #000000;
  overflow: hidden;
  transition: all 1s ease;
}

.moon {
  width: 70px;
  height: 70px;
  top: 15%;
  right: 120px;
  position: absolute;
  fill: white;
  transform: rotate(-20deg);
  transition: all 1s ease;
}

.rocket {
  width: 70px;
  height: 70px;
  bottom: -2%;
  left: -2%;
  position: absolute;
  fill: white;
  transition: all 1.9s ease;
}

.star {
  position: absolute;
  background: radial-gradient(circle, rgba(251,239,63,1) 0%, rgba(255,253,212,1) 100%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-1 {
  width: 100px;
  height: 100px;
  bottom: 90px;
  left: -15px;
  transition: all 1s ease;
}

.star-2 {
  width: 150px;
  height: 150px;
  top: -10%;
  left: -10%;
  transition: all .5s ease;
}

.star-3 {
  width: 100px;
  height: 100px;
  bottom: 5%;
  right: -15px;
  transition: all .3s ease;
}

.star-4 {
  width: 20px;
  height: 20px;
  top: 4%;
  right: 5px;
  transition: all 1.4s ease;
}

.star-5 {
  width: 20px;
  height: 20px;
  bottom: 24%;
  right: 45%;
  animation: rotate 3s normal linear infinite;
}

.star-6 {
  width: 20px;
  height: 20px;
  top: 14%;
  right: 25%;
  animation: rotate 5s normal linear infinite;
}

.star-7 {
  width: 40px;
  height: 40px;
  top: 34%;
  right: 65%;
  animation: rotate 5s normal linear infinite;
}

.card-info span {
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 1s ease;
}

.card:hover {
  background: rgb(48,48,48);
  background: linear-gradient(135deg, rgba(48,48,48,1) 10%, rgba(0,0,0,1) 90%);
  background-size: 100%,100%;
}

.card:hover .star-1,
.card:hover .star-3 {
  background: linear-gradient(90deg, rgba(255,241,0,1) 0%, rgba(246,249,93,1) 77%, rgba(238,255,0,1) 100%);
  transform: scale(1.2) rotate(10deg);
}

.card:hover .star-2,
.card:hover .star-4,
.card:hover .star-5 {
  background: linear-gradient(90deg, rgba(255,241,0,1) 0%, rgba(246,249,93,1) 77%, rgba(238,255,0,1) 100%);
  transform: scale(1.2) rotate(-150deg);
}

.card:hover .rocket {
  transform: scale(.3) translate(450px,-730px) rotate(-260deg);
}

.card:hover .moon {
  width: 50px;
  height: 50px;
}

.card:hover span {
  font-size: 1.5em;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
