
/* From Uiverse.io by devestter - Tags: button, click, big, css, accept */
.button {
  padding: 12px 19px;
  border: none;
  color: rgb(16, 52, 170);
  cursor: pointer;
  background-color: rgb(190, 219, 253);
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 13px;
  box-shadow: rgba(150, 143, 143, 0.2) 0px 2px 8px 0px;
}

.button:hover {
  background-color: rgb(164, 206, 253);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.saveicon {
  width: 17px;
}
