
/* From Uiverse.io by Lmickk2 - Tags: card, space, creative, inset */
.card {
  border-radius: 1em;
  padding: 2em;
  color: white;
  box-shadow: inset 3px 3px 10px black;
}

.heading {
  font-weight: bold;
}

.item {
  margin-top: 1em;
  text-align: center;
}

.item span {
  display: block;
}

.item--create svg:hover {
  filter: drop-shadow(0px 0px 3px #ffffff);
  font-weight: bold;
}

.item--post svg:hover {
  filter: drop-shadow(0px 0px 3px #ff09f3);
}

.item--inspire svg:hover {
  filter: drop-shadow(0px 0px 3px #efff0a);
}

button {
  margin: auto;
  display: block;
  margin-top: 2em;
  padding: 0.8em;
  border-radius: 0.5em;
  border: none;
  background: transparent;
  box-shadow: inset 2px 2px 5px black;
  color: white;
  transition: background 0.4s;
  font-weight: 600;
}

button:hover {
  animation: bg-change 5s infinite;
  box-shadow: inset 3px 3px 4px black;
  background: linear-gradient(0deg, rgb(97, 4, 55), rgb(148, 31, 128), rgb(40, 10, 88));
  background-size: 400% 400%;
}

@keyframes bg-change {
  0% {
    background-position: 50% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 50% 0%
  }
}
