
/* From Uiverse.io by vinodjangid07 - Tags: twitter, button, social media, hover effect */
.Btn {
  width: 45px;
  height: 45px;
  /* border: none; */
  border-radius: 50%;
  background-color: #00acee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .5s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  border: 2px solid #bbecff;
}

.logoIcon {
  fill: white;
}

.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  background-color: #00acee;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #00acee;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -20%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  top: -45px;
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-position: right;
  transition-duration: .5s;
}
