
/* From Uiverse.io by NlghtM4re - Tags: blue, card, theme, sun, water, colorful */
.card {
  width: 190px;
  height: 254px;
  border-radius: 5px;
  background: lightblue;
  border: 2px solid rgb(49, 161, 198);
}

.wave {
  transform: translate(0,161px);
}

.sun {
  transform: translate(-45px, -143px);
}

.sun-shadow {
  position: absolute;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg) translate(253px,0);
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(156,224,254,0) 0%, rgba(87,201,251,0) 33%, rgba(250,251,87,0.11545868347338939) 65%, rgba(149,140,0,0.23030462184873945) 100%);
}

.sun-ring {
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: rgb(249, 215, 46);
  border-radius: 5px;
}

.sun-ring-container {
  transform: translate(48px,-217px);
}

.sun-ring:nth-child(1) {
  transform: translate(0,40px);
}

.sun-ring:nth-child(2) {
  transform: translate(25px,32px)  rotate(-35deg);
}

.sun-ring:nth-child(3) {
  transform: translate(40px,5px)  rotate(-80deg);
}

.sun-ring:nth-child(4) {
  transform: translate(37px,-25px)  rotate(-120deg);
}

.sun-ring:nth-child(5) {
  transform: translate(-25px,34px)  rotate(35deg);
}

.sun-ring:nth-child(6) {
  transform: translate(-38px,13px)  rotate(75deg) scaleY(0.7);
}

.sun-ring:nth-child(7) {
  transform: translate(-38px,-17px)  rotate(110deg) scaleY(0.7);
}

.sun-ring:nth-child(8) {
  transform: translate(-20px,-35px)  rotate(160deg) scaleY(0.7);
}

.sun-ring:nth-child(9) {
  transform: translate(10px,-37px)  rotate(195deg) scaleY(0.51);
}
