
/* From Uiverse.io by aarjaycreation  - Tags: social, button, social media, 2d button */
.main__socials {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.Link__instagram {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  fill: #cc39a4;
}

.Link__twitter {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  fill: #03a9f4;
}

.Link__github {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.Link__discord {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  fill: #8c9eff;
}

.Link__instagram:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.Link__instagram:hover .instagram {
  fill: white;
}

.Link__twitter:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.Link__twitter:hover .twitter {
  fill: white;
}

.Link__github:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.Link__github:hover .github {
  fill: white;
}

.Link__discord:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.Link__discord:hover .discord {
  fill: white;
}

