
/* From Uiverse.io by vinodjangid07 - Tags: card */
.card {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg,#6bc5f8, #cf59e6,#6bc5f8, #cf59e6);
  animation: gradient 5s ease infinite;
  background-size: 500% 500%;
  width: 230px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
    box-shadow: 0px 0px 2px #ffffff,
      0px 0px 5px #ffffff,
      0px 0px 10px #6bc5f8,
      0px 0px 50px #6bc5f8;
  }

  50% {
    background-position: 100% 50%;
    box-shadow: 0px 0px 2px #ffffff,
      0px 0px 5px #ffffff,
      0px 0px 10px #cf59e6,
      0px 0px 50px #cf59e6;
  }

  100% {
    background-position: 0 50%;
    box-shadow: 0px 0px 2px #ffffff,
          0px 0px 5px #ffffff,
          0px 0px 10px #6bc5f8,
          0px 0px 50px #6bc5f8;
  }
}

.heading {
  color: white;
  font-weight: 500;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.heading span {
  font-size: 2em;
  font-weight: 800;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  animation: flickering 2s linear infinite both;
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  gap: 10px;
}

.item {
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: default;
}

.item svg {
  transition-duration: .3s;
}

.item:hover svg {
  filter: drop-shadow(0px 0px 10px white);
  transition-duration: .3s;
}

button {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 100px white;
  transition-duration: .3s;
}

button:hover {
  letter-spacing: 1.5px;
  transition-duration: .3s;
}

.card:before {
  content: "∞";
  position: absolute;
  font-size: 4em;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -14.2%;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.445));
}
 
