
/* From Uiverse.io by SelfMadeSystem  - Tags: simple, neumorphism, skeuomorphism, icon, animation, gradient, button */
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.border {
  position: relative;
  cursor: pointer;
  padding: 3px;
  border-radius: calc(6pt + 3px);
  appearance: none;
  font-weight: 600;
  background: linear-gradient(#dfe1e0, #7f8180);
  border: 1pt solid #e9ebea;
  border-top-width: 0;
  box-shadow: 0px 5px 15px 0px #0004;
  transition: all 0.4s;
}

.border::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 50%;
  transition: inherit;
}

.border:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px 0px #0004;
}

.border:hover:not(:active)::before {
  bottom: -6px;
}

.border:active {
  transform: translateY(0px);
  box-shadow: 0px 5px 15px 0px #0000;
  transition: all 0.3s;
}

.outer {
  padding: 4pt;
  background: linear-gradient(#fdfffe, #eceeed, #fdfffe);
  border-radius: 6pt;
}

.inner {
  background: linear-gradient(#eef0ef, #fafcfb, #eef0ef);
  padding: 8pt;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 4pt;
  text-shadow: 0px 1px 1px #0004;
}

.inner svg {
  filter: drop-shadow(0px 1px 0px #0007);
}

:is(.inner, .outer) {
  background-size: 100% 200%;
  transition: background-position-y 0.5s;
}

:active :is(.inner, .outer) {
  background-position-y: 100%;
}

