
/* From Uiverse.io by Peary74 - Tags: button, cloud, save */
.btnCloud {
  background-color: transparent;
  position: relative;
  fill: rgb(155, 153, 153);
  border: none;
}

.btnCloud::after {
  content: 'SAVE';
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 3px 9px;
  border-radius: 5px;
  transition: 200ms linear;
  transition-delay: 200ms;
  color: black;
  font-size: 13px;
  visibility: hidden;
}

.icon {
  transform: scale(1.4);
  transition: 200ms linear;
}

.btnCloud:hover > .icon {
  transform: scale(1.7);
}

.btnCloud:hover > .icon path {
  fill: #fff;
  cursor: pointer;
}

.btnCloud:hover::after {
  visibility: visible;
  opacity: 1;
  top: -100%;
}

