
/* From Uiverse.io by Javierrocadev - Tags: card, add to cart */
.card {
  width: 300px;
  height: 300px;
  background: #003566;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #001d3d;
}

.card::before {
  content: "10%";
  position: absolute;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  left: -20px;
  background-color: red;
  color: white;
  font-weight: 900;
  font-size: 2em;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  transform: rotate(40deg);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.card__content span {
  font-size: 1.5em;
  font-weight: 900;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0px;
  border: none;
  background: #ffd60a;
  color: #003566;
  font-weight: 800;
  transition: all .5s ease;
  cursor: pointer;
}

.svg-icon {
  fill: #ffd60a;
  transition: all .7s ease;
}

.cart .svg-icon {
  fill: blue;
  width: 15px;
}

.cart:hover {
  background: white;
  color: black;
}

.card:hover .card__content svg {
  transform: scale(1.5) rotate(-25deg);
}

