
/* From Uiverse.io by Cevorob - Tags: button */
button {
 border: 0;
 background: ghostwhite;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1em 1em 1em 3em;
 position: relative;
 overflow: hidden;
 font-size: 17px;
 font-family: inherit;
 border-radius: 12px;
 box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

button svg {
 position: absolute;
 left: .4em;
 width: 40px;
 height: 40px;
 transform: rotateY(-180deg);
 transition: transform .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

button:hover svg {
 transform: rotateY(-180deg) translateX(-.25em);
}

button:active {
 transform: scale(0.98);
}
