
/* From Uiverse.io by andrew-demchenk0  - Website: https://nextjs.org/learn?utm_source=next-site&utm_medium=homepage-cta&utm_campaign=home - Tags: simple, theme-switch, radio, buttons, template, for js, component */
.theme-switcher {
  padding: 3px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 9999px;
  border: 1px solid grey;
}

.theme-switcher_switch {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}

.theme-switcher_switch:hover > .icon {
  stroke: #323232;
}

.theme-switcher_switch:active {
  background-color: rgba(128, 128, 128, 0.35);
}

.theme-switcher_switch:active > .icon {
  stroke: white;
}

