
/* From Uiverse.io by xopc333 - Tags: animation, loader, svg, creative, css, loading animation */
.loader {
  width: 500px;
  height: 250px;
}

.circle {
  fill: #F25A33;
}

.circle-one {
  opacity: 0;
}

.svg-stroke {
  fill: transparent;
  stroke-dasharray: 46.82, 93.64;
  stroke-dashoffset: 46.82;
  stroke: #F25A33;
  opacity: 1;
}

.svg-wrap .svg-stroke {
  animation: stroke-start 1.6s linear, stroke-end 1.6s 0.8s linear infinite;
}

.svg-wrap .circle-one {
  animation: dot-one 0s 0.8s, move-dot 1.6s 0.8s linear infinite;
}

.svg-wrap .circle-two,
.svg-wrap .circle-three {
  animation: move-dot 1.6s 0.8s linear infinite;
}

@keyframes dot-one {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes stroke-start {
  50% {
    stroke-dashoffset: 46.82;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke-end {
  50% {
    stroke-dasharray: 46.82, 93.64;
    stroke-dashoffset: 0;
    transform: translateX(0);
  }

  100% {
    stroke-dasharray: 0, 93.64;
    stroke-dashoffset: -46.82;
    transform: translateX(10px);
  }
}

@keyframes move-dot {
  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}
