
/* From Uiverse.io by Mahalakshmiiii - Tags: button */
.space-button {
  align-items: center;
  background-image: linear-gradient(to left bottom, #220ee9, #0021d3, #0029bb, #002ca3, #002d8a, #003e92, #004e98, #005d9b, #0084bc, #00acd5, #00d4e6, #5ffbf1);
  border-radius: 0 25px 0 25px;
  border: 0;
  color: #f1f1f1;
  display: flex;
  font-size: 16px;
  padding: 10px 20px;
}

.space-icon {
  margin-left: 10px;
}

.space-button:hover .space-icon {
  animation: move_4001 0.6s infinite alternate;
}

@keyframes move_4001 {
  0% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

