
/* From Uiverse.io by Galahhad - Tags: input */
.password-label {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.password-label svg {
  width: 15px;
  height: auto;
  color: #7c7c7c;
}

.password-label input {
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid transparent;
  color: #8b8b8b;
  background: #3D3D3D;
  border-radius: 12px;
  padding: 9px 30px 9px 9px;
  transition: .2s;
}

.password-label input:hover,
.password-label input:focus {
  border-color: #868686;
}

.password-label input:valid {
  background: #344b3a;
  border: 1px solid #00FF29;
  color: #00FF29;
}

.password-label input:valid~.open {
  display: none;
}

.password-label input:valid~.close {
  display: block;
}

.password-label svg {
  position: absolute;
  right: 9px;
}

.close {
  display: none;
}
