
/* From Uiverse.io by SiddhantEngineer  - Tags: simple, button, rounded, smooth, creative, advanced, click effect, 3d button */
.button {
  box-sizing: border-box;
  background: hsl(0, 0%, 91%);
  padding: 5px 2px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px hsl(0, 0%, 50%), 0px 10px 35px 0px hsl(0, 0%, 65%),
    0px -10px 35px 0px hsl(0, 0%, 100%);
  border: none;
  font-size: 16px;
  background-clip: padding-box;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}

.button:active {
  scale: 99%;
  box-shadow: 0px 1px 2px 1px hsl(0, 0%, 70%), 0px 10px 35px 0px hsl(0, 0%, 75%),
    0px -10px 35px 0px hsl(0, 0%, 100%);
}

.button > i {
  background: linear-gradient(hsl(0, 0%, 80%), hsl(0, 0%, 93%));
  box-shadow: 0px 5px 20px -10px hsl(0, 0%, 60%);
  padding: 15px;
  border-radius: 20px;
  font-weight: 600;
  font-style: normal;
  display: flex;
  pointer-events: none;
}

.button > i > svg {
  width: 15px;
  margin-right: 5px;
  fill: none;
  stroke: black;
  pointer-events: none;
}

