
/* From Uiverse.io by CodeGame2010 - Tags: button */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  font-size: 18px;
  background: #08f;
  color: #fff;
}

svg {
  margin: 0 0 0 10px;
}

button:hover svg {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

button:not(:hover) svg {
  transition: 0.3s;
}

button:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

button:not(:active) {
  transition: 200ms;
}
