
/* From Uiverse.io by arshshaikh06 - Source: https://www.behance.net/gallery/117113957/Social-Share-Animation-Daily-UI-010 - Tags: button, hover, hover button, css button, css animation, cool button, button hover effect  */
#button-container {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
  background: #F4F7F5;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

#share {
  color: #DC0654;
  background: #fbe6ed;
}

#facebook {
  background: linear-gradient(-160deg, #00D2FF, #3A7BD5);
}

#instagram {
  background: linear-gradient(135deg, #833AB4, #FD1D1D, #FCB045);
}

#dribbble {
  background: linear-gradient(-70deg, #D70652, #FF025E);
}

#github {
  background: linear-gradient(-70deg, #171515, #FF025E);
}

#youtube {
  background: #FF0000;
}

#button-container:hover button {
  rotate: 360deg;
}

#button-container:hover #share {
  rotate: 270deg;
}

#button-container:hover > #facebook {
  translate: -300% 50%;
}

#button-container:hover > #instagram {
  translate: -226.78% -126.78%;
}

#button-container:hover > #dribbble {
  translate: -50% -200%;
}

#button-container:hover > #github {
  translate: 126.78% -126.78%;
}

#button-container:hover > #youtube {
  translate: 200% 50%;
}
